/*
 * MovableType.net extend css
 *
 */
/*
--------------------
.mt-be(layout)
--------------------
*/
.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]),
.echo-mt-be .echo-mt-be-group {
  width: calc( 100% - 20px);
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) .echo-mt-be-group,
.echo-mt-be .echo-mt-be-group .echo-mt-be-group {
  width: 100%;
  max-width: none;
}

.echo-mt-be > iframe:not([class*="echo-mt-be-block-custom"]) {
  display: block;
}

@media (min-width: 1280px) {
  .echo-mt-be > *.echo-mt-be-alignwide {
    max-width: 960px;
  }
}

.echo-mt-be > *.echo-mt-be-alignwide.echo-mt-be-has-bg {
  padding: 30px 20px;
}

@media (min-width: 768px) {
  .echo-mt-be > *.echo-mt-be-alignwide.echo-mt-be-has-bg {
    padding: 30px 40px;
  }
}

@media (min-width: 1280px) {
  .echo-mt-be > *.echo-mt-be-alignwide.echo-mt-be-has-bg {
    padding: 45px 40px;
  }
}

.echo-mt-be > *.echo-mt-be-alignfull {
  width: 100%;
  max-width: none;
}

.echo-mt-be > *.echo-mt-be-alignfull.echo-mt-be-has-bg {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1280px) {
  .echo-mt-be > *.echo-mt-be-alignfull.echo-mt-be-has-bg {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

/*
--------------------
.mt-be-columns
--------------------
*/
.mt-be-column:not([style*="width"]) {
  flex: 1;
}

.mt-be-column:not(:first-child) {
  padding-left: 10px;
}

.mt-be-column:not(:last-child) {
  padding-right: 10px;
}

.echo-mt-be h1,
.echo-mt-be h2,
.echo-mt-be h3,
.echo-mt-be h4,
.echo-mt-be h5,
.echo-mt-be h6 {
  margin-top: 0;
  line-height: 1.25;
}

.echo-mt-be h1:not([class*="mt-be"]):not([class*="echo-m-title"]) {
  margin-bottom: 1em;
  font-size: 2em;
}

@media (min-width: 425px) {
  .echo-mt-be h1:not([class*="mt-be"]):not([class*="echo-m-title"]) {
    font-size: 2.25em;
  }
}

@media (min-width: 1000px) {
  .echo-mt-be h1:not([class*="mt-be"]):not([class*="echo-m-title"]) {
    font-size: 2.5em;
  }
}

.echo-mt-be h2:not([class*="mt-be"]):not([class*="echo-m-title"]) {
  margin-bottom: 1.25em;
  font-size: 1.375em;
}

@media (min-width: 425px) {
  .echo-mt-be h2:not([class*="mt-be"]):not([class*="echo-m-title"]) {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) {
  .echo-mt-be h2:not([class*="mt-be"]):not([class*="echo-m-title"]) {
    font-size: 1.75em;
  }
}

.echo-mt-be h3:not([class*="mt-be"]):not([class*="echo-m-title"]) {
  margin-bottom: .75em;
  font-size: 1.25em;
}

@media (min-width: 768px) {
  .echo-mt-be h3:not([class*="mt-be"]):not([class*="echo-m-title"]) {
    font-size: 1.375em;
  }
}

.echo-mt-be h4:not([class*="mt-be"]):not([class*="echo-m-title"]) {
  margin-bottom: .5em;
  font-size: 1.125em;
}

@media (min-width: 768px) {
  .echo-mt-be h4:not([class*="mt-be"]):not([class*="echo-m-title"]) {
    font-size: 1.25em;
  }
}

.echo-mt-be h5:not([class*="mt-be"]):not([class*="echo-m-title"]) {
  margin-bottom: .5em;
  font-size: 1em;
}

@media (min-width: 768px) {
  .echo-mt-be h5:not([class*="mt-be"]):not([class*="echo-m-title"]) {
    font-size: 1.125em;
  }
}

.echo-mt-be h6:not([class*="mt-be"]):not([class*="echo-m-title"]) {
  margin-bottom: 0;
  font-size: 1em;
}

.echo-mt-be hr:not([class*="mt-be"]) {
  position: relative;
  clear: both;
  height: 1px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-width: 0 0 2px;
  border-style: none none solid;
  border-color: transparent transparent #333;
}

@media (min-width: 768px) {
  .echo-mt-be hr:not([class*="mt-be"]) {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.echo-mt-be img.asset.asset-image.mt-image-center {
  margin: 2em auto !important;
}

@media (min-width: 768px) {
  .echo-mt-be img.asset.asset-image.mt-image-center {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
  }
}

.echo-mt-be .mt-figure {
  display: table !important;
  margin: 2em auto;
}

@media (min-width: 768px) {
  .echo-mt-be .mt-figure {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.echo-mt-be .mt-figure img.asset.asset-image {
  display: block !important;
  float: none !important;
  margin: 0 auto !important;
}

.echo-mt-be .mt-figure figcaption {
  margin: .25em 0 0;
  font-size: .875em;
  color: #888;
  text-align: center;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ul:not([class*="echo-"]),
.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ol:not([class*="echo-"]) {
  overflow: hidden;
  line-height: 1.5;
  padding-left: 0;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ul:not([class*="echo-"]) {
  margin-top: 0;
  margin-bottom: 1em;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ul:not([class*="echo-"]) > li {
  position: relative;
  margin: .5em 0;
  padding: 0 0 0 1.25em;
  list-style-type: none;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ul:not([class*="echo-"]) > li:before {
  display: block;
  content: "";
  position: absolute;
  top: .75em;
  left: .25em;
  width: .2em;
  height: .2em;
  border-radius: 50%;
  background-color: #333;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ul:not([class*="echo-"]) > li ul,
.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ul:not([class*="echo-"]) > li ol {
  margin-top: .5em !important;
  margin-bottom: 0 !important;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ul:not([class*="echo-"]) li:last-child {
  margin-bottom: 0;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ol:not([class*="echo-"]) {
  counter-reset: ol_number;
  margin-top: 0;
  margin-bottom: 1em;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ol:not([class*="echo-"]) > li {
  position: relative;
  margin: .5em 0;
  padding: 0 0 0 1.25em;
  list-style-type: none;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ol:not([class*="echo-"]) > li:before {
  display: block;
  counter-increment: ol_number;
  content: counter(ol_number) ".";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  text-align: center;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ol:not([class*="echo-"]) > li ul,
.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) ol:not([class*="echo-"]) > li ol {
  margin-top: .5em !important;
  margin-bottom: 0 !important;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) dl:not([class*="echo-"]) {
  margin: 0;
  padding: 0;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) dl:not([class*="echo-"]) > dt {
  margin: 0 0 .5em;
  padding: 0;
}

.echo-mt-be > *:not([class*="echo-mt-be-block-custom"]) dl:not([class*="echo-"]) > dd {
  margin: 0 0 .5em;
  padding: 0 0 0 1.5em;
}

/*
--------------------
.echo-mt-be-btn
--------------------
*/
.echo-mt-be-btn.echo-mt-be-btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .echo-mt-be-btn.echo-mt-be-btn-sm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.echo-mt-be-btn.echo-mt-be-btn-md {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 1000px) {
  .echo-mt-be-btn.echo-mt-be-btn-md {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
  }
}

.echo-mt-be-btn.echo-mt-be-btn-lg {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .echo-mt-be-btn.echo-mt-be-btn-lg {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.mt-be-column > .echo-mt-be-btn:first-child,
.echo-mt-be-group > .echo-mt-be-btn:first-child {
  margin-bottom: 0;
}

.mt-be-column > .echo-mt-be-btn:last-child,
.echo-mt-be-group > .echo-mt-be-btn:last-child {
  margin-bottom: 0;
}

/*
--------------------
.echo-mt-be-spacer
--------------------
*/
.echo-mt-be-spacer hr {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 none !important;
  height: 0 !important;
  opacity: 0 !important;
}

.echo-mt-be-spacer.echo-mt-be-spacer-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 1000px) {
  .echo-mt-be-spacer.echo-mt-be-spacer-xs {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }
}

.echo-mt-be-spacer.echo-mt-be-spacer-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .echo-mt-be-spacer.echo-mt-be-spacer-sm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.echo-mt-be-spacer.echo-mt-be-spacer-md {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 1000px) {
  .echo-mt-be-spacer.echo-mt-be-spacer-md {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
  }
}

.echo-mt-be-spacer.echo-mt-be-spacer-lg {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .echo-mt-be-spacer.echo-mt-be-spacer-lg {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.echo-mt-be-spacer.echo-mt-be-spacer-xl {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 1000px) {
  .echo-mt-be-spacer.echo-mt-be-spacer-xl {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.echo-mt-be p {
  line-height: 2;
}

.echo-mt-be em:not([class]) {
  font-style: normal;
  color: #d20b2a;
}
