/*
 * styles.css
 *
 */
/*
--------------------
.echo-p-header
--------------------
*/
@media (min-width: 768px) {
  .echo-l-document {
    padding-top: 72px;
  }
}

.echo-p-header {
  width: 100%;
}

@media (min-width: 768px) {
  .echo-p-header {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.echo-p-header.js-scrollswitch-active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.echo-p-header.js-scrollswitch-active .echo-p-header-title img {
  height: 30px;
}

.echo-p-header-title img {
  transition: height .6s;
}

.echo-p-header-nav .echo-m-nav-children {
  height: 0;
  transform: translate(-50%, 0) scale(1, 0);
  z-index: 61;
}

.echo-p-header-nav .echo-m-nav-children:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transform-origin: top center;
  z-index: 62;
}

.echo-p-header-nav .echo-m-nav-children .echo-m-nav-item {
  z-index: 63;
}

.echo-p-header-nav .echo-m-nav-item.js-hoverswitch-in .echo-m-nav-children {
  transform: translate(-50%, 0) scale(1, 1);
  height: auto;
}

.echo-p-header-nav .echo-m-nav-item.js-hoverswitch-in .echo-m-nav-children:before {
  animation: headerNavChildrenListIn .3s linear 1 forwards;
}

.echo-p-header-nav .echo-m-nav-item.js-hoverswitch-in .echo-m-nav-children .echo-m-nav-item {
  animation: headerNavChildrenItemIn .6s linear 1 forwards;
}

.echo-p-header-nav .echo-m-nav-item.js-hoverswitch-out .echo-m-nav-children {
  transform: translate(-50%, 0) scale(1, 1);
  height: auto;
  animation: headerNavChildrenListWrapOut 0s .4s linear 1 forwards;
}

.echo-p-header-nav .echo-m-nav-item.js-hoverswitch-out .echo-m-nav-children:before {
  animation: headerNavChildrenListOut .2s .2s linear 1 forwards;
}

.echo-p-header-nav .echo-m-nav-item.js-hoverswitch-out .echo-m-nav-children .echo-m-nav-item {
  animation: headerNavChildrenItemOut .2s linear 1 forwards;
}

.echo-p-header-nav .echo-m-nav-item.is-parent:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #333;
  z-index: 62;
}

.echo-p-header-btn .echo-m-nav-label:hover, .echo-p-header-btn .echo-m-nav-label:focus, .echo-p-header-btn .echo-m-nav-label:active {
  color: #fff;
  background-color: #333;
}

.echo-p-header-btn .echo-m-nav-label:hover svg, .echo-p-header-btn .echo-m-nav-label:focus svg, .echo-p-header-btn .echo-m-nav-label:active svg {
  fill: #fff;
}

.echo-p-header-btn .echo-m-nav-item.echo-p-header-btn-lg .echo-p-header-btn-text {
  font-weight: bold;
}

@keyframes headerNavChildrenListIn {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes headerNavChildrenItemIn {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  50% {
    opacity: .5;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes headerNavChildrenListWrapOut {
  0% {
    transform: translate(-50%, 0) scale(1, 1);
    height: auto;
  }
  100% {
    transform: translate(-50%, 0) scale(1, 0);
    height: 0;
  }
}

@keyframes headerNavChildrenListOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}

@keyframes headerNavChildrenItemOut {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -10%);
  }
}

/*
--------------------
.echo-p-footer
--------------------
*/
.echo-p-footer {
  border-top: 1px solid #bbb;
}

.echo-p-footer-btn .echo-p-footer-btn-twitter .echo-m-btn:hover, .echo-p-footer-btn .echo-p-footer-btn-twitter .echo-m-btn:focus, .echo-p-footer-btn .echo-p-footer-btn-twitter .echo-m-btn:active {
  background-color: #1d9bf0;
}

.echo-p-footer-btn .echo-p-footer-btn-facebook .echo-m-btn:hover, .echo-p-footer-btn .echo-p-footer-btn-facebook .echo-m-btn:focus, .echo-p-footer-btn .echo-p-footer-btn-facebook .echo-m-btn:active {
  background-color: #1878f2;
}

.echo-p-footer-btn .echo-p-footer-btn-instagram .echo-m-btn:hover, .echo-p-footer-btn .echo-p-footer-btn-instagram .echo-m-btn:focus, .echo-p-footer-btn .echo-p-footer-btn-instagram .echo-m-btn:active {
  background-color: #b53f9e;
  background-image: linear-gradient(49deg, #fee331 0%, #b53f9e 50%);
}

.echo-p-footer-btn .echo-p-footer-btn-line .echo-m-btn:hover, .echo-p-footer-btn .echo-p-footer-btn-line .echo-m-btn:focus, .echo-p-footer-btn .echo-p-footer-btn-line .echo-m-btn:active {
  background-color: #00b900;
}

.echo-p-footer-btn .echo-p-footer-btn-youtube .echo-m-btn:hover, .echo-p-footer-btn .echo-p-footer-btn-youtube .echo-m-btn:focus, .echo-p-footer-btn .echo-p-footer-btn-youtube .echo-m-btn:active {
  background-color: #ee0000;
}

/*
--------------------
.echo-p-spmenu
--------------------
*/
.echo-p-spmenu-nav-main {
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.echo-p-spmenu-nav-main .echo-m-nav-label {
  position: relative;
}

.echo-p-spmenu-nav-main .echo-m-nav-label.is-current {
  color: #333;
  background-color: transparent;
}

.echo-p-spmenu-nav-main .echo-m-nav-label.is-current:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #333;
}

.echo-p-spmenu-more .echo-c-overlay-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.echo-p-spmenu-nav-sub {
  padding-bottom: 74px;
  background-color: #fff;
}

.echo-p-spmenu-nav-sub > .echo-m-nav-list > .echo-m-nav-item:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

/*
--------------------
echo-p-pagehead
--------------------
*/
.echo-p-pagehead .echo-c-hero:not(.echo-c-hero-inverse) {
  background-color: #f6f5f3;
}

.echo-p-pagehead .echo-c-hero-contents-inner {
  flex-basis: auto;
}

.echo-p-pagehead .echo-c-hero-title.echo-m-title {
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  .echo-p-pagehead .echo-c-hero-title.echo-m-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1000px) {
  .echo-p-pagehead .echo-c-hero-title.echo-m-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .echo-p-pagehead .echo-c-hero-title.echo-m-title {
    font-size: 2.75rem;
  }
}

.echo-p-pagehead .echo-c-hero-title-text {
  display: block;
  padding: .2em 1em;
}

.echo-p-pagehead .echo-c-hero-caption {
  margin: 0 auto;
  padding: .5em 1em;
  font-size: .75rem;
  letter-spacing: .1em;
}

@media (min-width: 768px) {
  .echo-p-pagehead .echo-c-hero-caption {
    font-size: .875rem;
  }
}

@media (min-width: 1000px) {
  .echo-p-pagehead .echo-c-hero-caption {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .echo-p-pagehead .echo-c-hero-caption {
    font-size: 1.125rem;
  }
}

.echo-p-pagehead.echo-p-pagehead-displayed .echo-c-hero-title-text {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}

.echo-p-pagehead.echo-p-pagehead-displayed .echo-c-hero-caption {
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
}

/*
--------------------
echo-p-content
--------------------
*/
@media (min-width: 1000px) {
  .echo-p-content.echo-p-content-2col .echo-p-content-sub {
    top: 72px;
  }
}

/*
--------------------
.echo-c-btn
--------------------
*/
.echo-m-btn[class*="echo-m-btn-arrowed"]:after {
  width: 7px;
  height: 7px;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-radius: 2px;
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn-arrowed-left:after {
  transform: translate(0, -50%) rotate(-45deg);
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn-arrowed-right:after {
  transform: translate(0, -50%) rotate(135deg);
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn-xl:after {
  width: 9px;
  height: 9px;
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn-xxl:after {
  width: 11px;
  height: 11px;
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn:not(.echo-m-btn-bordered):not(:hover):not(:focus):not(:active):after {
  border-top-color: #fff;
  border-left-color: #fff;
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn-bordered:hover:after, .echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn-bordered:focus:after, .echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn-bordered:active:after {
  border-top-color: #fff;
  border-left-color: #fff;
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn.echo-m-btn-inverse:after {
  border-top-color: #fff;
  border-left-color: #fff;
}

.echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn.echo-m-btn-inverse:hover:after, .echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn.echo-m-btn-inverse:focus:after, .echo-m-btn[class*="echo-m-btn-arrowed"].echo-m-btn.echo-m-btn-inverse:active:after {
  border-top-color: #333;
  border-left-color: #333;
}

/*
--------------------
.echo-c-card
--------------------
*/
.echo-c-card-category {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  margin: 0;
  line-height: 1;
  z-index: 21;
}

.echo-c-card-category .echo-m-label {
  color: #fff;
  background-color: #333;
}

time.echo-c-card-meta {
  font-family: "Helvetica", "Roboto", "-apple-system", "Open Sans", "Arial", sans-serif;
  letter-spacing: .03em;
}

/*
--------------------
.echo-mt-be > Heading element (without .echo-m-title)
--------------------
*/
.echo-mt-be h1:not([class*="title"]) {
  font-size: 1.75rem;
  text-align: center;
}

@media (min-width: 1000px) {
  .echo-mt-be h1:not([class*="title"]) {
    font-size: 2rem;
  }
}

.echo-mt-be h2:not([class*="title"]) {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 1000px) {
  .echo-mt-be h2:not([class*="title"]) {
    font-size: 1.75rem;
  }
}

.echo-mt-be h3:not([class*="title"]) {
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 1000px) {
  .echo-mt-be h3:not([class*="title"]) {
    font-size: 1.5rem;
  }
}

.echo-mt-be h4:not([class*="title"]) {
  font-size: 1.125rem;
}

@media (min-width: 1000px) {
  .echo-mt-be h4:not([class*="title"]) {
    font-size: 1.25rem;
  }
}

.echo-mt-be h5:not([class*="title"]) {
  font-size: 1.0625rem;
}

@media (min-width: 1000px) {
  .echo-mt-be h5:not([class*="title"]) {
    font-size: 1.125rem;
  }
}

.echo-mt-be h6:not([class*="title"]) {
  font-size: 1rem;
}

/*
--------------------
.echo-c-headline
--------------------
*/
.echo-c-headline-category .echo-m-label {
  color: #fff;
  background-color: #333;
}

time.echo-c-headline-header {
  font-family: "Helvetica", "Roboto", "-apple-system", "Open Sans", "Arial", sans-serif;
  letter-spacing: .03em;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) a.echo-c-headline-inner {
  color: #fff;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) a.echo-c-headline-inner:hover, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) a.echo-c-headline-inner:focus {
  color: #fff;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-c-headline-category .echo-m-label {
  color: #333;
  background-color: #fff;
}

/*
--------------------
.echo-c-media
--------------------
*/
.echo-c-media-category .echo-m-label {
  color: #fff;
  background-color: #333;
}

@media (max-width: 767.9px) {
  .echo-c-media-category .echo-m-label {
    display: block;
  }
}

time.echo-c-media-meta {
  font-family: "Helvetica", "Roboto", "-apple-system", "Open Sans", "Arial", sans-serif;
  letter-spacing: .03em;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) a.echo-c-media {
  color: #fff;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) a.echo-c-media:hover, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) a.echo-c-media:focus {
  color: #fff;
}

/*
--------------------
.echo-m-title
--------------------
*/
.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-m-title-style-c:after,
.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-m-title-style-f:after {
  background-color: #fff;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-m-title-style-d:before, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-m-title-style-d:after {
  background-color: #fff;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-m-title-style-e {
  background-color: rgba(255, 255, 255, 0.15);
}

/*
--------------------
.echo-p-widget
--------------------
*/
.echo-p-widget-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "-apple-system", "BlinkMacSystemFont", "Meiryo", sans-serif;
  font-weight: 600;
  line-height: 1.25;
}

.echo-p-widget:not(.echo-p-widget-sm) .echo-p-widget-title {
  text-align: center;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  font-size: 1.5rem;
}

@media (min-width: 1000px) {
  .echo-p-widget:not(.echo-p-widget-sm) .echo-p-widget-title {
    font-size: 1.75rem;
  }
}

.echo-p-widget:not(.echo-p-widget-sm) .echo-p-widget-title:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 3em;
  height: 3px;
  background-color: #333;
}

.echo-p-widget.echo-p-widget-sm .echo-p-widget-title {
  margin-bottom: .5em;
  font-size: 1.0625rem;
}

@media (min-width: 1000px) {
  .echo-p-widget.echo-p-widget-sm .echo-p-widget-title {
    font-size: 1.125rem;
  }
}

.echo-p-widget-card .echo-c-card-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "-apple-system", "BlinkMacSystemFont", "Meiryo", sans-serif;
  font-weight: 300;
}

.echo-p-widget-card a:hover .echo-c-card-title,
.echo-p-widget-card a:focus .echo-c-card-title,
.echo-p-widget-card a:active .echo-c-card-title {
  text-decoration: underline;
}

.echo-p-widget-media .echo-c-media-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.07143em;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "-apple-system", "BlinkMacSystemFont", "Meiryo", sans-serif;
  font-weight: 300;
}

.echo-p-widget-media.echo-p-widget-recent .echo-c-media-title {
  font-weight: 600;
}

.echo-p-widget-media a .echo-c-media-title {
  text-decoration: underline;
}

.echo-p-widget-media a:hover .echo-c-media-title,
.echo-p-widget-media a:focus .echo-c-media-title,
.echo-p-widget-media a:active .echo-c-media-title {
  text-decoration: none;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.8);
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:hover, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:focus, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:active, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.active {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.disabled, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:disabled,
fieldset[disabled] .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn {
  opacity: .65;
}

.echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.disabled:hover, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.disabled.hover, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.disabled:focus, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.disabled.focus, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:disabled:hover, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:disabled.hover, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:disabled:focus, .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:disabled.focus,
fieldset[disabled] .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:hover,
fieldset[disabled] .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.hover,
fieldset[disabled] .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn:focus,
fieldset[disabled] .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn.focus {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.8);
}

a:hover .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn,
a:focus .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn,
a:active .echo-mt-be-has-bg:not(.echo-u-bg-third):not(.echo-u-bg-fade) .echo-p-widget-footer .echo-m-btn {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
}

.echo-p-widget.echo-p-widget-card .echo-c-card-object + .echo-c-card-contents {
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color .3s;
}

.echo-p-widget.echo-p-widget-card a.echo-c-card-inner:hover .echo-c-card-contents, .echo-p-widget.echo-p-widget-card a.echo-c-card-inner:focus .echo-c-card-contents, .echo-p-widget.echo-p-widget-card a.echo-c-card-inner:active .echo-c-card-contents {
  background-color: white;
}

.echo-p-widget.echo-p-widget-card .echo-c-card.is-current .echo-c-card-title {
  font-weight: bold;
}

.echo-p-widget.echo-p-widget-media .echo-c-media.is-current .echo-c-media-title {
  font-weight: bold;
}

.echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media-wrapper {
  margin-bottom: 10px;
}

.echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media-wrapper:last-child {
  margin-bottom: 0;
}

.echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media.is-current:before {
  width: 8px;
  height: 8px;
}

.echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media.is-current:after {
  width: 6px;
  height: 6px;
}

.echo-p-widget.echo-p-widget-nav .echo-m-nav-label {
  position: relative;
}

.echo-p-widget.echo-p-widget-nav .echo-m-nav-label.is-current {
  color: #333;
  background-color: transparent;
  font-weight: bold;
}

.echo-p-widget.echo-p-widget-nav .echo-m-nav-label.is-current:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 1em;
  left: 0;
  top: 50%;
  margin-top: -.5em;
  background-color: #333;
}

.echo-p-widget.echo-p-widget-nav .echo-m-nav-children .echo-m-nav-label.is-current:before {
  left: 2em;
}

.echo-p-widget.echo-p-widget-nav .echo-m-nav-children .echo-m-nav-children .echo-m-nav-label.is-current:before {
  left: 4em;
}

/*
--------------------
.echo-p-cta
--------------------
*/
/*
--------------------
.echo-m-thumbnail
--------------------
*/
/*
--------------------
card > thumbnail
*/
.echo-p-widget.echo-p-widget-card .echo-m-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 66.66667%;
}

.echo-p-widget.echo-p-widget-card .echo-m-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .echo-p-content-2col .echo-p-content-main .echo-p-widget.echo-p-widget-card .echo-m-thumbnail {
    padding-bottom: 50%;
  }
}

@media (min-width: 1000px) {
  .echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-card .echo-m-thumbnail {
    padding-bottom: 56.25%;
  }
}

/*
--------------------
media > thumbnail
*/
.echo-p-widget.echo-p-widget-media .echo-m-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.echo-p-widget.echo-p-widget-media .echo-m-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.echo-p-content-main .echo-p-widget.echo-p-widget-media .echo-c-media-object {
  width: 65px;
}

@media (min-width: 768px) {
  .echo-p-content-main .echo-p-widget.echo-p-widget-media .echo-c-media-object {
    width: 130px;
  }
}

@media (min-width: 1000px) {
  .echo-p-content-main .echo-p-widget.echo-p-widget-media .echo-c-media-object {
    width: 190px;
  }
}

@media (min-width: 768px) {
  .echo-p-content-main .echo-p-widget.echo-p-widget-media .echo-m-thumbnail {
    padding-bottom: 66.66667%;
  }
}

.echo-p-content-1col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media-object {
  width: 65px;
}

@media (min-width: 768px) {
  .echo-p-content-1col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media-object {
    width: 130px;
  }
}

@media (min-width: 768px) {
  .echo-p-content-1col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-m-thumbnail {
    padding-bottom: 66.66667%;
  }
}

.echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media-object {
  width: 65px;
}

@media (min-width: 768px) and (max-width: 999.9px) {
  .echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media-object {
    width: 130px;
  }
}

@media (min-width: 1000px) {
  .echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-c-media-object {
    width: 90px;
  }
}

@media (min-width: 768px) and (max-width: 999.9px) {
  .echo-p-content-2col .echo-p-content-sub .echo-p-widget.echo-p-widget-media .echo-m-thumbnail {
    padding-bottom: 66.66667%;
  }
}

@media (max-width: 767.9px) {
  .echo-p-widget.echo-p-widget-media.echo-p-widget-recent .echo-c-media-object {
    width: 105px;
  }
}

@media (max-width: 767.9px) {
  .echo-p-widget.echo-p-widget-media.echo-p-widget-recent .echo-m-thumbnail {
    padding-bottom: 100%;
  }
}

/*
--------------------
object-fit-images
--------------------
*/
.echo-p-widget.echo-p-widget-card .echo-m-thumbnail img,
.echo-p-widget.echo-p-widget-media .echo-m-thumbnail img {
  font-family: 'object-fit: cover;';
}
