/*
 * styles.css
 *
 */
/*
--------------------
.echo-mt-be > Heading element (without .echo-title)
--------------------
*/
.echo-mt-be h1:not([class*="title"]) {
  font-size: 1.75rem;
  text-align: center;
}

@media (min-width: 62.5rem) {
  .echo-mt-be h1:not([class*="title"]) {
    font-size: 2rem;
  }
}

.echo-mt-be h2:not([class*="title"]) {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 62.5rem) {
  .echo-mt-be h2:not([class*="title"]) {
    font-size: 1.75rem;
  }
}

.echo-mt-be h3:not([class*="title"]) {
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 62.5rem) {
  .echo-mt-be h3:not([class*="title"]) {
    font-size: 1.5rem;
  }
}

.echo-mt-be h4:not([class*="title"]) {
  font-size: 1.125rem;
}

@media (min-width: 62.5rem) {
  .echo-mt-be h4:not([class*="title"]) {
    font-size: 1.25rem;
  }
}

.echo-mt-be h5:not([class*="title"]) {
  font-size: 1.0625rem;
}

@media (min-width: 62.5rem) {
  .echo-mt-be h5:not([class*="title"]) {
    font-size: 1.125rem;
  }
}

.echo-mt-be h6:not([class*="title"]) {
  font-size: 1rem;
}

/*
--------------------
.echo-p-header
--------------------
*/
@media (min-width: 48rem) {
  .echo-p-header {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.echo-p-header.js-scrollswitch-active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.echo-p-header-nav .echo-nav-label {
  font-size: 0.875rem;
}

.echo-p-header-nav .echo-p-header-nav-children {
  height: 0;
  transform: translate(-50%, 0) scale(1, 0);
  z-index: 61;
}

.echo-p-header-nav .echo-p-header-nav-children:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transform-origin: top center;
  z-index: 62;
}

.echo-p-header-nav .echo-p-header-nav-children .echo-nav-item {
  z-index: 63;
}

.echo-p-header-nav .echo-p-header-nav-children .echo-nav-label {
  font-size: 0.75rem;
}

.echo-p-header-nav .echo-nav-item.js-hoverswitch-in .echo-p-header-nav-children {
  transform: translate(-50%, 0) scale(1, 1);
  height: auto;
}

.echo-p-header-nav .echo-nav-item.js-hoverswitch-in .echo-p-header-nav-children:before {
  animation: headerNavChildrenListIn .3s linear 1 forwards;
}

.echo-p-header-nav .echo-nav-item.js-hoverswitch-in .echo-p-header-nav-children .echo-nav-item {
  animation: headerNavChildrenItemIn .6s linear 1 forwards;
}

.echo-p-header-nav .echo-nav-item.js-hoverswitch-out .echo-p-header-nav-children {
  transform: translate(-50%, 0) scale(1, 1);
  height: auto;
  animation: headerNavChildrenListWrapOut 0s .4s linear 1 forwards;
}

.echo-p-header-nav .echo-nav-item.js-hoverswitch-out .echo-p-header-nav-children:before {
  animation: headerNavChildrenListOut .2s .2s linear 1 forwards;
}

.echo-p-header-nav .echo-nav-item.js-hoverswitch-out .echo-p-header-nav-children .echo-nav-item {
  animation: headerNavChildrenItemOut .2s linear 1 forwards;
}

.echo-p-header-nav .echo-nav-item.is-parent:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #333;
  z-index: 62;
}

.echo-p-header-button .echo-nav-label:hover svg, .echo-p-header-button .echo-nav-label:focus svg, .echo-p-header-button .echo-nav-label:active svg {
  fill: currentcolor;
}

.echo-p-header-button .echo-nav-item.echo-p-header-button-lg .echo-p-header-button-text {
  font-weight: bold;
}

.echo-p-header-button.echo-p-header-button-sm .echo-p-header-button-text {
  font-size: 0.75em;
}

@media (min-width: 62.5rem) {
  .echo-p-header-button.echo-p-header-button-sm .echo-p-header-button-text {
    font-size: 0.8125em;
  }
}

@media (min-width: 62.5rem) {
  .echo-p-header-button.echo-p-header-button-lg .echo-p-header-button-text {
    font-size: 0.9375em;
  }
}

@keyframes headerNavChildrenListIn {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes headerNavChildrenItemIn {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  50% {
    opacity: .5;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes headerNavChildrenListWrapOut {
  0% {
    transform: translate(-50%, 0) scale(1, 1);
    height: auto;
  }
  100% {
    transform: translate(-50%, 0) scale(1, 0);
    height: 0;
  }
}

@keyframes headerNavChildrenListOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}

@keyframes headerNavChildrenItemOut {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -10%);
  }
}

/*
--------------------
.echo-thumbnail
--------------------
*/
/*
--------------------
card > thumbnail
*/
.echo-mt-be .echo-widget.echo-widget-card .echo-thumbnail,
.echo-p-widgetarea-main .echo-widget.echo-widget-card .echo-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 66.66667%;
}

.echo-mt-be .echo-widget.echo-widget-card .echo-thumbnail img,
.echo-p-widgetarea-main .echo-widget.echo-widget-card .echo-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 48rem) {
  .echo-mt-be .echo-widget.echo-widget-card .echo-thumbnail,
  .echo-p-widgetarea-main .echo-widget.echo-widget-card .echo-thumbnail {
    padding-bottom: 50%;
  }
}

.echo-p-widgetarea-sub .echo-widget.echo-widget-card .echo-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.echo-p-widgetarea-sub .echo-widget.echo-widget-card .echo-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 62.4rem) {
  .echo-p-widgetarea-sub .echo-widget.echo-widget-card.echo-widget-pages .echo-thumbnail {
    padding-bottom: 66.66667%;
  }
}

/*
--------------------
media > thumbnail
*/
.echo-widget.echo-widget-media .echo-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.echo-widget.echo-widget-media .echo-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.echo-mt-be .echo-widget.echo-widget-media .echo-media-object,
.echo-p-widgetarea-main .echo-widget.echo-widget-media .echo-media-object {
  width: 8.25rem;
}

@media (min-width: 48rem) {
  .echo-mt-be .echo-widget.echo-widget-media .echo-media-object,
  .echo-p-widgetarea-main .echo-widget.echo-widget-media .echo-media-object {
    width: 12.5rem;
  }
}

@media (min-width: 48rem) {
  .echo-mt-be .echo-widget.echo-widget-media .echo-thumbnail,
  .echo-p-widgetarea-main .echo-widget.echo-widget-media .echo-thumbnail {
    padding-bottom: 66.66667%;
  }
}

.echo-p-widgetarea-sub .echo-widget.echo-widget-media .echo-media-object {
  width: 4.25rem;
}

@media (min-width: 48rem) and (max-width: 62.4rem) {
  .echo-p-widgetarea-sub .echo-widget.echo-widget-media .echo-media-object {
    width: 5.25rem;
  }
}

/*
--------------------
object-fit-images
--------------------
*/
.echo-widget.echo-widget-card .echo-thumbnail img,
.echo-widget.echo-widget-media .echo-thumbnail img {
  font-family: 'object-fit: cover;';
}

/*
--------------------
.echo-widget-card
--------------------
*/
.echo-widget.echo-widget-card .echo-card-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "-apple-system", "BlinkMacSystemFont", "Meiryo", sans-serif;
  font-weight: 300;
  font-weight: 300;
}

.echo-widget.echo-widget-card a.echo-card-inner:hover .echo-card-title, .echo-widget.echo-widget-card a.echo-card-inner:focus .echo-card-title, .echo-widget.echo-widget-card a.echo-card-inner:active .echo-card-title {
  text-decoration: underline;
}

.echo-widget.echo-widget-card .echo-card.is-current .echo-card-title {
  font-weight: 600;
}

.echo-widget.echo-widget-card.echo-widget-pages .echo-card-contents {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: rgba(255, 255, 255, 0.75);
}

/*
--------------------
.echo-widget-headline
--------------------
*/
/*
--------------------
.echo-widget-media
--------------------
*/
.echo-widget.echo-widget-media .echo-media-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.14286em;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "-apple-system", "BlinkMacSystemFont", "Meiryo", sans-serif;
  font-weight: 300;
  font-weight: 300;
}

.echo-widget.echo-widget-media a.echo-media .echo-media-title {
  text-decoration: underline;
}

.echo-widget.echo-widget-media a.echo-media:hover .echo-media-title, .echo-widget.echo-widget-media a.echo-media:focus .echo-media-title, .echo-widget.echo-widget-media a.echo-media:active .echo-media-title {
  text-decoration: none;
}

.echo-widget.echo-widget-media .echo-media.is-current .echo-media-title {
  font-weight: 600;
}

.echo-mt-be .echo-widget.echo-widget-media.echo-widget-recent .echo-media-title,
.echo-p-widgetarea-main .echo-widget.echo-widget-media.echo-widget-recent .echo-media-title {
  font-weight: 600;
}

.echo-widget.echo-widget-media.echo-widget-posts .echo-media-title {
  font-weight: 600;
}

.echo-widget.echo-widget-media .echo-media-category .echo-label {
  color: #fff;
  background-color: #333;
}

.echo-widget.echo-widget-media time.echo-media-meta {
  font-family: "Helvetica", "Roboto", "-apple-system", "Open Sans", "Arial", sans-serif;
  letter-spacing: .03em;
}

.echo-mt-be-has-bg:not(.echo-bg-third):not(.echo-bg-fade) a.echo-media {
  color: #fff;
}

.echo-mt-be-has-bg:not(.echo-bg-third):not(.echo-bg-fade) a.echo-media:hover, .echo-mt-be-has-bg:not(.echo-bg-third):not(.echo-bg-fade) a.echo-media:focus {
  color: #fff;
}

/*
--------------------
.echo-widget-nav
--------------------
*/
.echo-widget.echo-widget-nav .echo-nav-label {
  padding-left: 0;
}

.echo-widget.echo-widget-nav .echo-nav-label.is-current {
  color: #333;
  background-color: transparent;
  font-weight: bold;
  padding-left: .5em;
}

.echo-widget.echo-widget-nav .echo-nav-label.is-current:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 1em;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #333;
}

.echo-widget.echo-widget-nav .echo-nav-label .echo-label {
  min-width: 2em;
  margin: 0 0 0 .5em;
  padding-left: 0;
  padding-right: 0;
}

.echo-widget.echo-widget-nav .echo-nav-label:hover .echo-label, .echo-widget.echo-widget-nav .echo-nav-label:focus .echo-label, .echo-widget.echo-widget-nav .echo-nav-label:active .echo-label {
  color: #fff;
  background-color: #333;
}

.echo-widget.echo-widget-nav .echo-nav-children .echo-nav-label {
  padding-left: 2em;
}

.echo-widget.echo-widget-nav .echo-nav-children .echo-nav-label.is-current:before {
  left: 1.5em;
}

.echo-widget.echo-widget-nav .echo-nav-children .echo-nav-children .echo-nav-label {
  padding-left: 3em;
}

.echo-widget.echo-widget-nav .echo-nav-children .echo-nav-children .echo-nav-label.is-current:before {
  left: 2.5em;
}
