/*
--------------------
.#{$pr}#{$p}footer
--------------------
*/

.#{$pr}#{$p}footer {
    border-top: 1px solid $border-color;
}

.#{$pr}#{$p}footer#{$c1}button {

    .#{$pr}#{$p}footer#{$c1}button#{$c3}twitter {

        .#{$pr}#{$m}button {

            &:hover,
            &:focus,
            &:active {
                background-color: #1d9bf0;
            }

        }

    }


    .#{$pr}#{$p}footer#{$c1}button#{$c3}facebook {

        .#{$pr}#{$m}button {

            &:hover,
            &:focus,
            &:active {
                background-color: #1878f2;
            }

        }

    }


    .#{$pr}#{$p}footer#{$c1}button#{$c3}instagram {

        .#{$pr}#{$m}button {

            &:hover,
            &:focus,
            &:active {
                background-color: #b53f9e;
                background-image: linear-gradient(49deg, rgba(254,227,49,1) 0%, rgba(181,63,158,1) 50%);
            }

        }

    }


    .#{$pr}#{$p}footer#{$c1}button#{$c3}line {

        .#{$pr}#{$m}button {

            &:hover,
            &:focus,
            &:active {
                background-color: #00b900;
            }

        }

    }


    .#{$pr}#{$p}footer#{$c1}button#{$c3}youtube {

        .#{$pr}#{$m}button {

            &:hover,
            &:focus,
            &:active {
                background-color: #ee0000;
            }

        }

    }

}
