/*
--------------------
.#{$pr}#{$p}header
--------------------
*/

.#{$pr}#{$l}document {

    // header height
    @include media-breakpoint-up(md) {
        padding-top: 42px + ( ( $spacer * 1.5 ) * 2 );
    }

}

.#{$pr}#{$p}header {
    width: 100%;
    transition: padding .3s;

    @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 0;
    }

    &:not(.js-scrollswitch-active) {
    }

    &.js-scrollswitch-active {

        @include media-breakpoint-up(md) {
            position: fixed;
            padding-top: 0;
            padding-bottom: 0;
            box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.3 );
        }

        .#{$pr}#{$p}header#{$c1}title {

            img {

                @include media-breakpoint-up(md) {
                    height: 30px;
                }

            }

        }

    }

}

.#{$pr}#{$p}header#{$c1}title {

    img {
        transition: height .6s;
    }

}

.#{$pr}#{$p}header#{$c1}btn {

    .#{$pr}#{$m}nav#{$c1}label {

        &:hover,
        &:focus,
        &:active {
            color: $body-inverse-color;
            background-color: $body-color;

            svg {
                fill: $body-inverse-color;
            }

        }

    }

    .#{$pr}#{$m}nav#{$c1}item {

        &.#{$pr}#{$p}header#{$c1}btn#{$c3}lg {

            .#{$pr}#{$p}header#{$c1}btn#{$c1}text {
                font-weight: bold;
            }

        }

    }

}

.#{$pr}#{$p}header#{$c1}nav {

    .#{$pr}#{$m}nav#{$c1}item {

        > .#{$pr}#{$m}nav#{$c1}children {
            background-color: $body-bg;
            z-index: 61;
        }

        &:not(:hover) {
            // Do not use animation "reverse" for mouseout
            // (Because it play when the document loads).

            > .#{$pr}#{$m}nav#{$c1}children {
                transform:
                    translate( -50%, 0 )
                    scale( 1, 0 );

                > .#{$pr}#{$m}nav#{$c1}item {
                    opacity: 0;
                }

            }

        }

        &:hover {

            .#{$pr}#{$m}nav#{$c1}children {
                animation: headerNavChildrenListIn .3s ease-in 1 forwards;
                box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.3 );

                > .#{$pr}#{$m}nav#{$c1}item {
                    animation: headerNavChildrenItemIn .6s ease-in 1 forwards;
                }

            }

        }

        &.is-parent {

            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: $ui-current-bg;
                z-index: 62;
            }

        }

    }

}



@keyframes headerNavChildrenListIn {
    0% {
        transform:
            scale( 1, 0 )
            translate( -50%, 0 );
    }
    100% {
        transform:
            scale( 1, 1 )
            translate( -50%, 0 );
    }
}

@keyframes headerNavChildrenItemIn {
    0% {
        opacity: 0;
        transform: translate( 0, -10% );
    }
    50% {
        opacity: .5;
        transform: translate( 0, 0 );
    }
    100% {
        opacity: 1;
        transform: translate( 0, 0 );
    }
}
