/*
--------------------
.#{$pr}#{$p}header
--------------------
*/

.#{$pr}#{$l}document {

    // header height
    @include media-breakpoint-up(md) {
        padding-top: 42px + ( ( $spacer * 1.5 ) * 2 );
    }

}

.#{$pr}#{$p}header {
    position: relative;
    width: 100%;
    transition: padding .3s;

    @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 52;
    }

    &:not(.js-scrollswitch-active) {
    }

    &.js-scrollswitch-active {

        @include media-breakpoint-up(md) {
            position: fixed;
            padding-top: 0;
            padding-bottom: 0;
            box-shadow: 0 2px 5px rgba( 0, 0, 0, 0.3 );
        }

        .#{$pr}#{$p}header#{$c1}title {

            img {

                @include media-breakpoint-up(md) {
                    height: 30px;
                }

            }

        }

    }

}

.#{$pr}#{$p}header#{$c1}title {

    img {
        transition: height .6s;
    }

}

.#{$pr}#{$p}header#{$c1}btn {

    .#{$pr}#{$m}nav#{$c1}label {

        &:hover,
        &:focus,
        &:active {
            color: $body-inverse-color;
            background-color: $body-color;

            svg {
                fill: $body-inverse-color;
            }

        }

    }

    .#{$pr}#{$m}nav#{$c1}item {

        &.#{$pr}#{$p}header#{$c1}btn#{$c3}lg {

            .#{$pr}#{$p}header#{$c1}btn#{$c1}text {
                font-weight: bold;
            }

        }

    }

}
