/*
--------------------
.#{$pr}#{$c}media
--------------------
*/

.#{$pr}#{$c}media {

    @include media-breakpoint-down(sm) {
        position: relative;
    }

}

.#{$pr}#{$c}media#{$c1}object {

    @include media-breakpoint-up(md) {
        position: relative;
    }

}

.#{$pr}#{$c}media#{$c1}category {
    margin: 0;
    line-height: 1 !important;

    @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 21;
    }

    .#{$pr}#{$m}label {
        color: $ui-inverse-color;
        background-color: $gray;

        @include media-breakpoint-down(sm) {
            display: block;
        }

    }

}

time.#{$pr}#{$c}media#{$c1}meta {
    font-family: $font-family-second;
    letter-spacing: .03em;
}

.#{$pr}#{$be}-has-bg:not(.#{$pr}#{$u}bg-third):not(.#{$pr}#{$u}bg-fade) {

    a.#{$pr}#{$c}media {
        color: #fff;

        &:not(:hover),
        &:not(:focus) {
            color: #fff;
        }

    }

}
