/*
--------------------
#{$pr}#{$p}pagehead
--------------------
*/

.#{$pr}#{$p}pagehead {

    .#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
        flex-basis: auto;
    }

    .#{$pr}#{$c}hero#{$c1}title {

        &.#{$pr}#{$m}title {
            font-size: 1.75rem;

            @include media-breakpoint-up(md) {
                font-size: 2.25rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 2.5rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: 2.75rem;
            }

        }

    }

    .#{$pr}#{$c}hero#{$c1}title#{$c1}text {
        display: block;
        padding: .2em 1em;
    }

    .#{$pr}#{$c}hero#{$c1}caption {
        margin: 0 auto;
        padding: .5em 1em;
        font-size: .75rem;
        letter-spacing: .1em;

        @include media-breakpoint-up(md) {
            font-size: .875rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.125rem;
        }

    }

    &.#{$pr}#{$p}pagehead#{$c3}blended {

        .#{$pr}#{$c}hero#{$c1}title#{$c1}text {
            color: #000;
            background-color: rgba( 255, 255, 255, .6 );
        }

        .#{$pr}#{$c}hero#{$c1}caption {
            color: #000;
            background-color: rgba( 255, 255, 255, .2 );
        }

    }

    &.#{$pr}#{$p}pagehead#{$c3}displayed {

        .#{$pr}#{$c}hero#{$c1}title#{$c1}text {
            color: #000;
            background-color: rgba( 255, 255, 255, .8 );
        }

        .#{$pr}#{$c}hero#{$c1}caption {
            color: #000;
            background-color: rgba( 255, 255, 255, .4 );
        }

    }

}
