/*
--------------------
#{$pr}#{$c}post
--------------------
*/

.#{$pr}#{$c}post#{$c1}header {
    @include responsive-spacing(
        'padding-bottom',
        map-get( $responsive-spacing-min, 'lg' ),
        map-get( $responsive-spacing-max, 'lg' )
    );

    .#{$pr}#{$c}post#{$c1}meta {
        display: flex;
        flex-wrap: wrap;
        margin-top: map-get( $grid-gutter-widths, 'lg' );
        align-items: center;
        justify-content: space-between;

        .#{$pr}#{$c}post#{$c1}category {
            flex-grow: 0;
            margin: 0;
            line-height: 1;
        }

        .#{$pr}#{$c}post#{$c1}date {
            flex-grow: 0;
            margin: 0;
            line-height: 1;
        }

    }

}

.#{$pr}#{$c}post#{$c1}footer {
    @include responsive-spacing(
        'padding-top',
        map-get( $responsive-spacing-min, 'lg' ),
        map-get( $responsive-spacing-max, 'lg' )
    );

    .#{$pr}#{$c}post#{$c1}category {
        margin: 0;
    }

    .#{$pr}#{$c}post#{$c1}category#{$c1}header {
        margin-right: .5em;
    }

    .#{$pr}#{$p}serial {
        margin-top: map-get( $grid-gutter-widths, 'lg' );
    }

}


