/*
--------------------
#{$pr}#{$p}serial
--------------------
*/

.#{$pr}#{$p}serial {

    .#{$pr}#{$m}nav#{$c1}item {

        &.#{$pager-prev},
        &.#{$pager-next} {

            .#{$pr}#{$m}nav#{$c1}label {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translate( 0, -50% );
                    transform-origin: center center;
                    width: 7px;
                    height: 7px;
                    border-top: 2px solid $ui-color;
                    border-left: 2px solid $ui-color;
                    border-radius: 2px;
                }

            }

        }

        &.#{$pager-prev} {

            .#{$pr}#{$m}nav#{$c1}label {
                padding-left: 20px;

                &:after {
                    left: 5px;
                    transform:
                        translate( 0, -50% )
                        rotate( -45deg );
                }

            }

        }

        &.#{$pager-next} {

            .#{$pr}#{$m}nav#{$c1}label {
                padding-right: 20px;

                &:after {
                    right: 5px;
                    transform:
                        translate( 0, -50% )
                        rotate( 135deg );
                }

            }

        }

    }

}
