/*
--------------------
.#{$pr}#{$p}spmenu
--------------------
*/

.#{$pr}#{$p}spmenu#{$c1}nav#{$c3}main {
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba( 0, 0, 0, 0.3 );

    .#{$pr}#{$m}nav#{$c1}label {
        position: relative;

        &.#{$nav-current} {
            color: $ui-color;
            background-color: $ui-bg;

            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                top: 0;
                left: 0;
                background-color: $ui-current-bg;
            }

        }

    }

}


.#{$pr}#{$p}spmenu#{$c1}more {

    .#{$pr}#{$c}overlay#{$c1}bg {
        background-color: rgba( 0, 0, 0, .5 );
    }

    .#{$pr}#{$c}overlay#{$c1}contents {
    }

}

.#{$pr}#{$p}spmenu#{$c1}nav#{$c3}sub {
    padding-bottom: ( 2.75rem + map-get( $grid-gutter-widths, 'md' ) );
    background-color: #fff;

    > .#{$pr}#{$m}nav#{$c1}list {

        > .#{$pr}#{$m}nav#{$c1}item {

            &:not(:last-child){
                border-bottom: 1px solid $border-color;
            }

        }

    }

}

