/*
--------------------
.#{$pr}#{$m}thumbnail
--------------------
*/

@mixin thumbnail-clip( $ratio ) {

    .#{$pr}#{$m}thumbnail {
        width: 100%;
        height: 0;
        padding-bottom: percentage( $ratio );

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

}


/*
--------------------
card > thumbnail
*/

.#{$pr}widget.#{$pr}widget#{$c3}card {

    .#{$pr}#{$be} &,
    .#{$pr}#{$p}widgetarea#{$c3}main & {
        @include thumbnail-clip( 2 / 3 );

        .#{$pr}#{$m}thumbnail {

            @include media-breakpoint-up(md) {
                padding-bottom: percentage( 1 / 2 );
            }

        }

    }

    .#{$pr}#{$p}widgetarea#{$c3}sub & {
        @include thumbnail-clip( 9 / 16 );

        &.#{$pr}widget#{$c3}pages {

            .#{$pr}#{$m}thumbnail {

                @include media-breakpoint-down(md) {
                    padding-bottom: percentage( 2 / 3 );
                }

            }

        }

    }

}

/*
--------------------
media > thumbnail
*/

.#{$pr}widget.#{$pr}widget#{$c3}media {
    @include thumbnail-clip( 1 / 1 );

    .#{$pr}#{$be} &,
    .#{$pr}#{$p}widgetarea#{$c3}main & {

        .#{$pr}#{$c}media#{$c1}object {
            width: 8rem + ( map-get( $grid-gutter-widths, 'md' ) / 4 );

            @include media-breakpoint-up(md) {
                width: 12rem + ( map-get( $grid-gutter-widths, 'md' ) / 2 );
            }

        }

        .#{$pr}#{$m}thumbnail {

            @include media-breakpoint-up(md) {
                padding-bottom: percentage( 2 / 3 );
            }

        }

    }

    .#{$pr}#{$p}widgetarea#{$c3}sub & {

        .#{$pr}#{$c}media#{$c1}object {
            width: 4rem + ( map-get( $grid-gutter-widths, 'md' ) / 4 );

            @include media-breakpoint-only(md) {
                width: 5rem + ( map-get( $grid-gutter-widths, 'md' ) / 4 );
            }

        }

    }

}
