/*
--------------------
.#{$pr}#{$m}thumbnail
--------------------
*/

@mixin thumbnail-clip( $ratio ) {

    .#{$pr}#{$m}thumbnail {
        width: 100%;
        height: 0;
        padding-bottom: percentage( $ratio );

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

}


/*
--------------------
card > thumbnail
*/

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}card {
    @include thumbnail-clip( 2 / 3 );

    &:not(.#{$pr}#{$widget}#{$c3}sm) {

        .#{$pr}#{$m}thumbnail {

            @include media-breakpoint-up(md) {
                padding-bottom: percentage( 1 / 2 );
            }

        }

    }

    &.#{$pr}#{$widget}#{$c3}sm {

        .#{$pr}#{$m}thumbnail {

            @include media-breakpoint-up(lg) {
                padding-bottom: percentage( 9 / 16 );
            }

        }

    }

}

/*
--------------------
media > thumbnail
*/

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}media {
    @include thumbnail-clip( 1 / 1 );

    &:not(.#{$pr}#{$widget}#{$c3}sm) {

        .#{$pr}#{$c}media#{$c1}object {
            width: 60px + ( map-get( $grid-gutter-widths, 'md' ) / 4 );

            @include media-breakpoint-up(md) {
                width: 120px + ( map-get( $grid-gutter-widths, 'md' ) / 2 );
            }

            @include media-breakpoint-up(lg) {
                width: 180px + ( map-get( $grid-gutter-widths, 'md' ) / 2 );
            }

        }

        .#{$pr}#{$m}thumbnail {

            @include media-breakpoint-up(md) {
                padding-bottom: percentage( 2 / 3 );
            }

        }

    }

    &.#{$pr}#{$widget}#{$c3}sm {

        .#{$pr}#{$c}media#{$c1}object {
            width: 60px + ( map-get( $grid-gutter-widths, 'md' ) / 4 );

            @include media-breakpoint-only(md) {
                width: 120px + ( map-get( $grid-gutter-widths, 'md' ) / 2 );
            }

            @include media-breakpoint-up(lg) {
                width: 80px + ( map-get( $grid-gutter-widths, 'md' ) / 2 );
            }

        }

    }

    // recent: large sm-down
    &.#{$pr}#{$widget}#{$c3}recent {

        .#{$pr}#{$c}media#{$c1}object {

            @include media-breakpoint-down(sm) {
                width: 100px + ( map-get( $grid-gutter-widths, 'md' ) / 4 );
            }

        }

    }

}
