/*
--------------------
.#{$pr}#{$widget}
--------------------
*/

.#{$pr}#{$widget}#{$c1}title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    @include font-family-weight( 'first', 'bold' );
    line-height: $line-height-xs;

    .#{$pr}#{$widget}:not(.#{$pr}#{$widget}#{$c3}sm) & {
        // .echo-m-title-level-2.echo-m-title-style-c
        text-align: center;
        margin-bottom: 1.5em;
        padding-bottom: 1em;
        font-size: ( 24/16 ) + rem;

        @include media-breakpoint-up(lg) {
            font-size: ( 28/16 ) + rem;
        }

        &:after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 50%;
            transform: translate( -50%, 0 );
            width: 3em;
            height: 3px;
            background-color: $body-color;
        }

    }

    .#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}sm & {
        // .echo-m-title-level-5.echo-m-title-style-a
        margin-bottom: .5em;
        font-size: ( 17/16 ) + rem;

        @include media-breakpoint-up(lg) {
            font-size: ( 18/16 ) + rem;
        }

    }

}

.#{$pr}#{$widget}#{$c3}card .#{$pr}#{$c}card#{$c3}title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    @include font-family-weight( 'first', 'normal' );
}

.#{$pr}#{$widget}#{$c3}card a:hover .#{$pr}#{$c}card#{$c3}title,
.#{$pr}#{$widget}#{$c3}card a:focus .#{$pr}#{$c}card#{$c3}title,
.#{$pr}#{$widget}#{$c3}card a:active .#{$pr}#{$c}card#{$c3}title {
    text-decoration: underline;
}

.#{$pr}#{$widget}#{$c3}media .#{$pr}#{$c}media#{$c3}title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: ( 15 / 14 ) + em;
    @include font-family-weight( 'first', 'normal' );
}

.#{$pr}#{$widget}#{$c3}media.#{$pr}#{$widget}#{$c3}recent .#{$pr}#{$c}media#{$c3}title {
    font-weight: $font-weight-bold-first;
}

.#{$pr}#{$widget}#{$c3}media a .#{$pr}#{$c}media#{$c3}title {
    text-decoration: underline;
}

.#{$pr}#{$widget}#{$c3}media a:hover .#{$pr}#{$c}media#{$c3}title,
.#{$pr}#{$widget}#{$c3}media a:focus .#{$pr}#{$c}media#{$c3}title,
.#{$pr}#{$widget}#{$c3}media a:active .#{$pr}#{$c}media#{$c3}title {
    text-decoration: none;
}









.#{$pr}#{$be}-has-bg:not(.#{$pr}#{$u}bg-third):not(.#{$pr}#{$u}bg-fade) {

    .#{$pr}#{$widget}#{$c1}footer {

        .#{$pr}#{$m}btn {
            @include button-variant(
                $body-inverse-color,
                transparent,
                rgba($body-inverse-color, .8),
                $body-color,
                rgba($body-inverse-color, .8),
                transparent
            );
        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}card {

    .#{$pr}#{$c}card#{$c1}object + .#{$pr}#{$c}card#{$c1}contents {
        background-color: rgba( $body-bg, .75 );
        transition: background-color .3s;
    }

    a.#{$pr}#{$c}card#{$c1}inner {

        &:hover,
        &:focus,
        &:active {

            .#{$pr}#{$c}card#{$c1}contents {
                background-color: rgba( $body-bg, 1 );
            }

        }

    }

    .#{$pr}#{$c}card {

        &.#{$nav-current} {

            .#{$pr}#{$c}card#{$c1}title {
                font-weight: bold;
            }

        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}media {

    .#{$pr}#{$c}media {

        &.#{$nav-current} {

            .#{$pr}#{$c}media#{$c1}title {
                font-weight: bold;
            }

        }

    }

    &.#{$pr}#{$widget}#{$c3}sm {
    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {
    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$c}media#{$c1}wrapper {
            margin-bottom: $spacer;

            &:last-child {
                margin-bottom: 0;
            }

        }

        .#{$pr}#{$c}media {

            &.#{$nav-current} {

                &:before {
                    width: 8px;
                    height: 8px;
                }

                &:after {
                    width: 6px;
                    height: 6px;
                }

            }

        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}nav {

    .#{$pr}#{$m}nav#{$c1}label {
        position: relative;

        &.#{$nav-current} {
            color: $ui-color;
            background-color: transparent;
            font-weight: bold;

            &:before {
                content: "";
                position: absolute;
                width: 3px;
                height: 1em;
                left: 0;
                top: 50%;
                margin-top: -.5em;
                background-color: $ui-current-bg;
            }

        }

    }

    .#{$pr}#{$m}nav#{$c1}children {

        .#{$pr}#{$m}nav#{$c1}label {

            &.#{$nav-current} {

                &:before {
                    left: 2em;
                }

            }

        }

        .#{$pr}#{$m}nav#{$c1}children {

            .#{$pr}#{$m}nav#{$c1}label {

                &.#{$nav-current} {

                    &:before {
                        left: 4em;
                    }

                }

            }

        }

    }

}



