/*
--------------------
.#{$pr}widget#{$c3}card
--------------------
*/

.#{$pr}widget.#{$pr}widget#{$c3}card {

    .#{$pr}#{$c}card#{$c3}title {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em;
        @include font-family-weight( 'first', 'normal' );
    }

    a.#{$pr}#{$c}card#{$c1}inner {

        &:hover,
        &:focus,
        &:active {

            .#{$pr}#{$c}card#{$c3}title {
                text-decoration: underline;
            }

        }

    }

    .#{$pr}#{$c}card.#{$nav-current} {

        .#{$pr}#{$c}card#{$c1}title {
            font-weight: $font-weight-bold-first;
        }

    }

    &.#{$pr}widget#{$c3}pages {

        .#{$pr}#{$c}card#{$c1}contents {
            padding-top: .5em;
            padding-bottom: .5em;
            background-color: rgba( $body-bg, .75 );
        }

    }

}

