/*
--------------------
.#{$pr}#{$widget}
--------------------
*/

.#{$pr}#{$be}-has-bg:not(.#{$pr}#{$u}bg-third):not(.#{$pr}#{$u}bg-fade) {

    .#{$pr}#{$widget}#{$c1}footer {

        .#{$pr}#{$m}btn {
            @include button-variant(
                $body-inverse-color,
                transparent,
                rgba($body-inverse-color, .8),
                $body-color,
                rgba($body-inverse-color, .8),
                transparent
            );
        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}nav {

    .#{$pr}#{$m}nav#{$c1}label {
        position: relative;

        &.#{$nav-current} {
            color: $ui-color;
            background-color: transparent;
            font-weight: bold;

            &:before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                left: 0;
                top: 50%;
                margin-top: -3px;
                background-color: $ui-current-bg;
            }

        }

    }

    .#{$pr}#{$m}nav#{$c1}children {

        .#{$pr}#{$m}nav#{$c1}label {

            &.#{$nav-current} {

                &:before {
                    left: 2em;
                }

            }

        }

        .#{$pr}#{$m}nav#{$c1}children {

            .#{$pr}#{$m}nav#{$c1}label {

                &.#{$nav-current} {

                    &:before {
                        left: 4em;
                    }

                }

            }

        }

    }

}



