// Config: MovableType.net
// ========================================

$be: 'mt-be' !default;

$be-max-widths: (
    md:  720px,
    lg:  960px,
    xl:  1200px,
) !default;

$sub-widths: (
    lg:  270px,
    xl:  300px,
) !default;
