/*
--------------------
.#{$pr}#{$c}card
--------------------
*/

.#{$pr}#{$c}card#{$c1}contents {
    position: relative;
}

.#{$pr}#{$c}card#{$c1}category {

    .#{$pr}#{$m}label {
        vertical-align: bottom;
        margin-right: 0;
        padding-left: $spacer;
    }

}

time.#{$pr}#{$c}card#{$c1}meta {
    display: block;
}
