/*
--------------------
.#{$pr}#{$p}cta
--------------------
*/

.#{$pr}#{$p}cta {
    background-color: $gray-fade;
    padding-top: ( $spacer * 1.5 );
    padding-bottom: ( $spacer * 2 );

    @include media-breakpoint-up(md) {
        padding-top: ( $spacer * 3 );
        padding-bottom: ( $spacer * 3 );
    }

}

.#{$pr}#{$p}cta#{$c1}inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: calc( 100% - 60px );
    max-width: map-get( $be-max-widths, 'lg' );
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

}

.#{$pr}#{$p}cta#{$c1}header {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: 100%;
}

.#{$pr}#{$p}cta#{$c1}image {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-basis: auto;

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: ( $spacer * 1.5 );
    }

    @include media-breakpoint-up(md) {
        width: calc( 50% - #{( $spacer * 1.5 )} );
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

}

.#{$pr}#{$p}cta#{$c1}contents {
    flex-grow: 0;
    flex-basis: auto;

    @include media-breakpoint-up(md) {
        width: calc( 50% - #{( $spacer * 1.5 )} );
    }

}

.#{$pr}#{$p}cta#{$c1}body {
    font-size: $font-size-xs;
    line-height: $line-height-lg;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-sm;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-md;
    }

    p {

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.#{$pr}#{$p}cta#{$c1}link {
    margin: ( $spacer * 1.5 ) 0 0;

    .#{$pr}#{$m}btn {
        background-color: $gray;
        border-color: $gray;
        color: $body-inverse-color;
        box-shadow: 1px 2px 5px rgba( 0, 0, 0, .3 );

        &:after {
            border-top-color: $body-inverse-color;
            border-left-color: $body-inverse-color;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $body-bg;
            border-color: $gray;
            color: $body-color;

            &:after {
                border-top-color: $body-color;
                border-left-color: $body-color;
            }

        }

    }

}
