/*
--------------------
.#{$pr}#{$p}cta
--------------------
*/

.#{$pr}#{$p}cta {
    background-color: $default-fade;
    @include responsive-spacing(
        'padding-top',
        map-get( $responsive-spacing-min, 'md' ),
        map-get( $responsive-spacing-max, 'md' )
    );
    @include responsive-spacing(
        'padding-bottom',
        map-get( $responsive-spacing-min, 'md' ),
        map-get( $responsive-spacing-max, 'md' )
    );

}

.#{$pr}#{$p}cta#{$c1}inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: calc( 100% - #{map-get( $grid-gutter-widths, md )} );
    max-width: map-get( $be-max-widths, 'lg' );
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

}

.#{$pr}#{$p}cta#{$c1}header {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: 100%;
}

.#{$pr}#{$p}cta#{$c1}image {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-basis: auto;

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: map-get( $grid-gutter-widths, md );
    }

    @include media-breakpoint-up(md) {
        width: calc( 50% - #{map-get( $grid-gutter-widths, md )} );
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

}

.#{$pr}#{$p}cta#{$c1}contents {
    flex-grow: 0;
    flex-basis: auto;

    @include media-breakpoint-up(md) {
        width: calc( 50% - #{map-get( $grid-gutter-widths, md )} );
    }

}

.#{$pr}#{$p}cta#{$c1}body {
    font-size: $font-size-xs;
    line-height: $line-height-lg;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-sm;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-md;
    }

    p {

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.#{$pr}#{$p}cta#{$c1}link {
    margin: map-get( $grid-gutter-widths, md ) 0 0;
}
