/*
--------------------
.#{$pr}#{$p}footer
--------------------
*/

.#{$pr}#{$p}footer {
    border-top: 1px solid $border-color;

    @include media-breakpoint-down(md) {
        padding-bottom: 2.75rem + map-get( $grid-gutter-widths, 'lg' );
    }

}

.#{$pr}#{$p}footer#{$c1}contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: center;
    }

}

.#{$pr}#{$p}footer#{$c1}nav {
    flex-grow: 1;
    width: 100%;

    @include media-breakpoint-up(lg) {
        margin-bottom: map-get( $grid-gutter-widths, lg );
    }

    .#{$pr}#{$m}nav#{$c1}list {
        flex-wrap: wrap;
    }

    .#{$pr}#{$m}nav#{$c1}item {
        flex-grow: 0;
    }

}

.#{$pr}#{$p}footer#{$c1}title {
    flex-grow: 0;

    @include media-breakpoint-down(md) {
        margin-top: map-get( $grid-gutter-widths, 'md' );
    }

    a {
        display: inline-block;
        text-decoration: none;
    }

    img,
    svg {
        width: auto;
        height: 1.5rem;
        vertical-align: bottom;

        @include media-breakpoint-up(lg) {
            height: 1.75rem;
        }

    }

}

.#{$pr}#{$p}footer#{$c1}address {
    flex-grow: 0;
    font-size: $font-size-xs;
    font-style: normal;
    line-height: $line-height-lg;

    a {
        color: $body-color;
    }

    @include media-breakpoint-down(md) {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        margin: map-get( $grid-gutter-widths, 'md' ) auto 0;
        text-align: center;
    }

    @include media-breakpoint-down(sm) {
        max-width: map-get( $object-max-widths, 'sm' );
    }

    @include media-breakpoint-only(md) {
        max-width: map-get( $object-max-widths, 'md' );
    }

    @include media-breakpoint-up(lg) {
        margin-left: map-get( $grid-gutter-widths, 'xl' );
    }

    svg {
        display: inline-block;
        width: auto;
        height: 1.4em;
        margin-top: -.2em;
        margin-bottom: -.2em;
        margin-right: .25em;
        vertical-align: middle;
    }

}

.#{$pr}#{$p}footer#{$c1}address#{$c2}name {
    display: block;
}

.#{$pr}#{$p}footer#{$c1}address#{$c2}street {
    display: block;

    br {
        display: none;
    }

}

.#{$pr}#{$p}footer#{$c1}address#{$c2}tel {
    margin-right: 2em;

    br {
        display: none;
    }

}

.#{$pr}#{$p}footer#{$c1}address#{$c2}mail {

    br {
        display: none;
    }

}

.#{$pr}#{$p}footer#{$c1}button {
    flex-grow: 0;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: map-get( $grid-gutter-widths, 'md' );
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        margin-left: map-get( $grid-gutter-widths, 'xl' );
    }

    .#{$pr}#{$m}button {
        position: relative;
        border: 0 none;
        transition:
            background-color .3s,
            border-color .3s,
            color .3s;
        background-color: transparent;

        svg {
            width: auto;
            height: 1.75rem;
            vertical-align: middle;
        }

        &:hover,
        &:focus,
        &:active {

            svg {
                fill: currentcolor;
            }

        }

    }

    .#{$pr}#{$p}footer#{$c1}button#{$c1}text {
        display: inline-block;
        overflow: hidden;
        width: 1px;
        margin-left: -1px;
        text-indent: -999em;
    }

    .#{$pr}#{$m}list#{$c1}item {
        margin-left: .5em;
        margin-right: .5em;
    }

}

.#{$pr}#{$p}footer#{$c1}copyright {
    flex-grow: 1;
    width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    margin: 0;
    font-size: $font-size-xxs;
    text-align: center;

    @include responsive-spacing(
        'margin-top',
        map-get( $responsive-spacing-min, 'lg' ),
        map-get( $responsive-spacing-max, 'lg' )
    );

    @include media-breakpoint-up(lg) {
        font-size: $font-size-xs;
    }

}
