/*
--------------------
.#{$pr}#{$c}media
--------------------
*/

.#{$pr}#{$c}media {
    position: relative;
}

time.#{$pr}#{$c}media#{$c1}meta {
    display: block;
}

.#{$pr}#{$be} {

    p.#{$pr}#{$c}media#{$c1}body {
        line-height: inherit;
    }

}

