/*
--------------------
#{$pr}#{$p}pagenate
--------------------
*/

.#{$pr}#{$p}pagenate {
    margin-bottom: ( $spacer * 3 );

    .#{$pr}#{$m}nav {
        display: block;
    }

    .#{$pr}#{$m}nav#{$c1}list {
        justify-content: space-between;
    }

    .#{$pr}#{$m}nav#{$c1}label {
        font-size: $font-size-xs;

        @include media-breakpoint-up(md) {
            font-size: $font-size-sm;
        }

    }

    .#{$pr}#{$m}nav#{$c1}item {
        flex-grow: 0;
    }

}
