/*
--------------------
#{$pr}#{$c}post
--------------------
*/

.#{$pr}#{$c}post#{$c1}header,
.#{$pr}#{$c}post#{$c1}footer {
    width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    max-width: map-get( $be-max-widths, 'md' );
    margin-left: auto;
    margin-right: auto;
}

.#{$pr}#{$c}post#{$c1}date {
    font-size: $font-size-xs;

    @include media-breakpoint-up(md) {
        font-size: $font-size-sm;
    }

}

.#{$pr}#{$c}post#{$c1}category {
    font-size: $font-size-xs;

    @include media-breakpoint-up(md) {
        font-size: $font-size-sm;
    }

    .#{$pr}#{$c}post#{$c1}header & {

        .#{$pr}#{$m}label {
            font-size: .875em;
        }

    }

}

.#{$pr}#{$c}post#{$c1}category#{$c1}header {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
}
