/*
--------------------
#{$pr}#{$p}serial
--------------------
*/

.#{$pr}#{$p}serial {

    .#{$pr}#{$m}nav {
        display: block;
        width: 100%;
    }

    .#{$pr}#{$m}nav#{$c1}list {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .#{$pr}#{$m}nav#{$c1}label {
        font-size: $font-size-xs;
        line-height: $line-height-xs;

        @include media-breakpoint-up(md) {
            font-size: $font-size-sm;
        }

    }

    .#{$pr}#{$m}nav#{$c1}item {
        flex-grow: 1;
    }

    .#{$pr}#{$m}nav#{$c1}item.#{$pager-prev} {

        .#{$pr}#{$m}nav#{$c1}label {
            justify-content: flex-start;
            text-align: left;
        }

    }

    .#{$pr}#{$m}nav#{$c1}item.#{$pager-next} {

        .#{$pr}#{$m}nav#{$c1}label {
            justify-content: flex-end;
            text-align: right;
        }

    }

}
