/*
--------------------
.#{$pr}#{$m}title
--------------------
*/

.#{$pr}#{$m}title#{$c3}level#{$c3}7 {
    font-size: ( 14/16 ) + rem;

    @include media-breakpoint-up(lg) {
        font-size: ( 16/16 ) + rem;
    }

}

.#{$pr}#{$m}title#{$c3}level#{$c3}8 {
    font-size: ( 13/16 ) + rem;
    font-weight: normal;

    @include media-breakpoint-up(lg) {
        font-size: ( 15/16 ) + rem;
    }

}
