/*
--------------------
.#{$pr}#{$widget}#{$c3}folders
--------------------
*/

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}pages + .#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}folders {
    position: relative;
    padding-top: ( $spacer * 1.5 );

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'md' );
        height: 1px;
        background-color: $gray-milder;
        transform: translate( -50%, 0 );
    }

    .#{$pr}#{$be} &,
    .#{$pr}#{$p}widgetarea#{$c3}main & {
        margin-top: ( $spacer * -1.5 );

        @include media-breakpoint-up(lg) {
            margin-bottom: ( $spacer * -3 );
        }

    }

    .#{$pr}#{$p}widgetarea#{$c3}sub & {
        margin-top: ( $spacer * -1.5 );
    }

}
