/*
--------------------
.#{$pr}widget#{$c3}folders
--------------------
*/

.#{$pr}widget.#{$pr}widget#{$c3}pages + .#{$pr}widget.#{$pr}widget#{$c3}folders {
    position: relative;
    padding-top: map-get( $grid-gutter-widths, 'md' );

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'md' );
        height: 1px;
        background-color: $ui-color;
        transform: translate( -50%, 0 );
    }

    .#{$pr}#{$be} &,
    .#{$pr}#{$p}widgetarea#{$c3}main & {
    }

    .#{$pr}#{$p}widgetarea#{$c3}sub & {
    }

}
