/*
--------------------
.#{$pr}widget
--------------------
*/

.#{$pr}widget {

    .#{$pr}#{$be} > &,
    .#{$pr}#{$p}widgetarea#{$c3}main > & {
        @include responsive-spacing(
            'margin-bottom',
            map-get( $responsive-spacing-min, 'lg' ),
            map-get( $responsive-spacing-max, 'lg' )
        );

    }

    .#{$pr}#{$p}widgetarea#{$c3}sub > & {
        @include responsive-spacing(
            'margin-bottom',
            map-get( $responsive-spacing-min, 'md' ),
            map-get( $responsive-spacing-max, 'md' )
        );
    }

    &:last-child {
        margin-bottom: 0;
    }

}

.#{$pr}widget#{$c1}header,
.#{$pr}widget#{$c1}footer {
    width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    max-width: map-get( $be-max-widths, 'md' );
    margin-left: auto;
    margin-right: auto;

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    }

    .#{$pr}#{$p}content#{$c1}sub & {
        max-width: map-get( $be-max-widths, 'md' );
    }

}

.#{$pr}widget#{$c1}header {
    padding-bottom: 0;
}

.#{$pr}widget#{$c1}footer {

    .#{$pr}#{$p}content#{$c1}main & {
        @include responsive-spacing(
            'padding-top',
            map-get( $responsive-spacing-min, 'lg' ),
            map-get( $responsive-spacing-max, 'lg' )
        );

    }

    .#{$pr}#{$p}content#{$c1}sub & {
        @include responsive-spacing(
            'padding-top',
            map-get( $responsive-spacing-min, 'sm' ),
            map-get( $responsive-spacing-max, 'sm' )
        );

    }

}

