/*
--------------------
.#{$pr}widget#{$c3}card
--------------------
*/

.#{$pr}widget.#{$pr}widget#{$c3}card {

    .#{$pr}#{$row} {
        margin-bottom: ( map-get($grid-gutter-widths, md) * -1 );

        @include media-breakpoint-down(sm) {
            margin-left: (map-get($grid-gutter-widths, md) / -4);
            margin-right: (map-get($grid-gutter-widths, md) / -4);
            margin-bottom: ( map-get($grid-gutter-widths, md) / -2 );
        }

    }

    [class*="#{$pr}#{$col}"] {
        margin-bottom: map-get($grid-gutter-widths, md);

        @include media-breakpoint-down(sm) {
            padding-left: (map-get($grid-gutter-widths, md) / 4);
            padding-right: (map-get($grid-gutter-widths, md) / 4);
            margin-bottom: (map-get($grid-gutter-widths, md) / 2);
        }

    }

    .#{$pr}widget#{$c1}contents {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'xl' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$c}card#{$c1}contents {
        font-size: $font-size-xs;
    }

    .#{$pr}#{$be} &,
    .#{$pr}#{$p}widgetarea#{$c3}main & {

        .#{$pr}#{$c}card#{$c1}contents {

            @include media-breakpoint-up(md) {
                font-size: $font-size-sm;
            }

        }

    }

    .#{$pr}#{$p}widgetarea#{$c3}sub & {

        .#{$pr}#{$row} {

            @include media-breakpoint-up(md) {
                margin-left: (map-get($grid-gutter-widths, md) / -4);
                margin-right: (map-get($grid-gutter-widths, md) / -4);
                margin-bottom: ( map-get($grid-gutter-widths, md) / -2 );
            }

        }

        [class*="#{$pr}#{$col}"] {

            @include media-breakpoint-up(md) {
                padding-left: (map-get($grid-gutter-widths, md) / 4);
                padding-right: (map-get($grid-gutter-widths, md) / 4);
                margin-bottom: (map-get($grid-gutter-widths, md) / 2);
            }

        }

        .#{$pr}widget#{$c1}contents {
            max-width: map-get( $be-max-widths, 'md' );
        }

    }

    &.#{$pr}widget#{$c3}pages {

        .#{$pr}#{$c}card#{$c1}object + .#{$pr}#{$c}card#{$c1}contents {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 12;
        }

    }

}
