/*
--------------------
.#{$pr}#{$widget}#{$c3}headline
--------------------
*/

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}headline {

    .#{$pr}#{$widget}#{$c1}contents {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'md' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {

    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {
    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

    }

}
