/*
--------------------
.#{$pr}#{$widget}
--------------------
*/

.#{$pr}#{$widget} {

    &:last-child {
        margin-bottom: 0;
    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

    }

}

.#{$pr}#{$widget}#{$c1}header,
.#{$pr}#{$widget}#{$c1}footer {
    max-width: map-get( $be-max-widths, 'md' );
    margin-left: auto;
    margin-right: auto;

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    }

    .#{$pr}#{$p}content#{$c1}sub & {
        max-width: map-get( $be-max-widths, 'md' );
    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

        @include media-breakpoint-down(md) {
            width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        }

    }

}

.#{$pr}#{$widget}#{$c1}header {
    padding-bottom: ( $spacer * 3 );

    .#{$pr}#{$m}title {
        margin-bottom: 0;
    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}card {

    .#{$pr}#{$widget}#{$c1}contents {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'xl' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$c}card#{$c1}contents {

        @include media-breakpoint-down(md) {
            font-size: $font-size-xs;
        }

    }

    .#{$pr}#{$row} {
        margin-bottom: ( map-get($grid-gutter-widths, md) * -1 );

        @include media-breakpoint-down(sm) {
            margin-left: (map-get($grid-gutter-widths, md) / -4);
            margin-right: (map-get($grid-gutter-widths, md) / -4);
            margin-bottom: ( map-get($grid-gutter-widths, md) / -2 );
        }

    }

    [class*="#{$pr}#{$col}"] {
        margin-bottom: map-get($grid-gutter-widths, md);

        @include media-breakpoint-down(sm) {
            padding-left: (map-get($grid-gutter-widths, md) / 4);
            padding-right: (map-get($grid-gutter-widths, md) / 4);
            margin-bottom: (map-get($grid-gutter-widths, md) / 2);
        }

    }

    .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$widget}#{$c1}contents {
            max-width: map-get( $be-max-widths, 'md' );
        }

    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {

    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$widget}#{$c1}contents {

            @include media-breakpoint-up(lg) {
                width: 100%;
            }

        }

    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

    }

    &.#{$pr}#{$widget}#{$c3}sm {

    }

    &.#{$pr}#{$widget}#{$c3}pages {

        .#{$pr}#{$c}card#{$c1}object + .#{$pr}#{$c}card#{$c1}contents {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 12;
        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}media {

    .#{$pr}#{$widget}#{$c1}contents {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'xl' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$c}media#{$c1}contents {

        @include media-breakpoint-down(md) {
            font-size: $font-size-xs;
        }

    }

    .#{$pr}#{$c}media#{$c1}category {
        margin: 0;
        line-height: 1 !important;

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 21;
        }

        .#{$pr}#{$m}label {
            vertical-align: bottom;
            margin-right: 0;
            font-size: $font-size-xxs;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-xs;
            }

        }

    }

    .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$widget}#{$c1}contents {
            max-width: map-get( $be-max-widths, 'md' );
        }

    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {


    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$widget}#{$c1}contents {

            @include media-breakpoint-up(lg) {
                width: 100%;
            }

        }

    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

    }

    .#{$pr}#{$row} {
        margin-bottom: ( map-get($grid-gutter-widths, md) * -1 );

        @include media-breakpoint-down(md) {
            margin-left: (map-get($grid-gutter-widths, md) / -4);
            margin-right: (map-get($grid-gutter-widths, md) / -4);
        }

    }

    [class*="#{$pr}#{$col}"] {
        margin-bottom: ( map-get($grid-gutter-widths, md) * 1 );

        @include media-breakpoint-down(md) {
            padding-left: (map-get($grid-gutter-widths, md) / 4);
            padding-right: (map-get($grid-gutter-widths, md) / 4);
            margin-bottom: map-get($grid-gutter-widths, md);
        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}headline {

    .#{$pr}#{$widget}#{$c1}contents {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'md' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {

    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$widget}#{$c1}contents {

            @include media-breakpoint-up(lg) {
                width: 100%;
            }

        }

    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}nav {

    .#{$pr}#{$widget}#{$c1}contents {
        max-width: map-get( $be-max-widths, 'md' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$widget}#{$c1}contents {
            width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        }

    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$widget}#{$c1}contents {

            @include media-breakpoint-down(md) {
                width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
            }

        }

    }

    &.#{$pr}#{$widget}#{$c3}sm {

        .#{$pr}#{$m}nav#{$c1}label {
            font-size: ( 15 / 16 ) + rem;
        }

        .#{$pr}#{$m}nav#{$c1}children {

            .#{$pr}#{$m}nav#{$c1}label {
                font-size: $font-size-sm;
            }

            .#{$pr}#{$m}nav#{$c1}children {

                .#{$pr}#{$m}nav#{$c1}label {
                    font-size: ( 13 / 16 ) + rem;
                }

            }

        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}step {

    .#{$pr}#{$widget}#{$c1}contents {
        max-width: map-get( $be-max-widths, 'xl' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$c}step {
        padding-top: 0;
        padding-bottom: 0;

        @include media-breakpoint-down(sm) {

            .#{$pr}#{$m}nav#{$c1}label {
                font-size: $font-size-sm;
            }

        }

    }

    .#{$pr}#{$p}content#{$c3}1col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$c}step {

            @include media-breakpoint-down(md) {
                width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
            }

        }

    }

    .#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}content#{$c1}sub & {

        .#{$pr}#{$c}step {

            @include media-breakpoint-down(md) {
                width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
            }

            .#{$pr}#{$m}nav-vertical {

                .#{$pr}#{$m}nav#{$c1}label {
                    justify-content: flex-start;
                }

            }

        }

    }

    &.#{$pr}#{$widget}#{$c3}sm {
    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

        .#{$pr}#{$c}step {
            width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}folders {

    .#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}pages + & {
        position: relative;
        padding-top: ( $spacer * 1.5 );

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            width: 100%;
            max-width: map-get( $be-max-widths, 'md' );
            height: 1px;
            background-color: $gray-milder;
            transform: translate( -50%, 0 );
        }

    }

}
