/*
--------------------
.#{$pr}#{$widget}
--------------------
*/

.#{$pr}#{$widget} {

    &:last-child {
        margin-bottom: 0;
    }

}

.#{$pr}#{$widget}#{$c1}header,
.#{$pr}#{$widget}#{$c1}footer {
    max-width: map-get( $be-max-widths, 'md' );
    margin-left: auto;
    margin-right: auto;

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    }

}

.#{$pr}#{$widget}#{$c1}header {
    padding-bottom: ( $spacer * 3 );

    .#{$pr}#{$m}title {
        margin-bottom: 0;
    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}card {

    .#{$pr}#{$widget}#{$c1}contents {
        max-width: map-get( $be-max-widths, 'xl' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

        .#{$pr}#{$widget}#{$c1}contents {
            width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        }

    }

    .#{$pr}#{$row} {

        @include media-breakpoint-down(md) {
            margin-left: (map-get($grid-gutter-widths, md) / -4);
            margin-right: (map-get($grid-gutter-widths, md) / -4);
        }

    }

    [class*="#{$pr}#{$col}"] {
        margin-bottom: map-get($grid-gutter-widths, md);

        @include media-breakpoint-down(md) {
            padding-left: (map-get($grid-gutter-widths, md) / 4);
            padding-right: (map-get($grid-gutter-widths, md) / 4);
            margin-bottom: (map-get($grid-gutter-widths, md) / 2);
        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}media {

    .#{$pr}#{$widget}#{$c1}contents {
        max-width: map-get( $be-max-widths, 'xl' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

        .#{$pr}#{$widget}#{$c1}contents {
            width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        }

    }

    .#{$pr}#{$row} {

        @include media-breakpoint-down(md) {
            margin-left: (map-get($grid-gutter-widths, md) / -4);
            margin-right: (map-get($grid-gutter-widths, md) / -4);
        }

    }

    [class*="#{$pr}#{$col}"] {
        margin-bottom: ( map-get($grid-gutter-widths, md) * 2 );

        @include media-breakpoint-down(md) {
            padding-left: (map-get($grid-gutter-widths, md) / 4);
            padding-right: (map-get($grid-gutter-widths, md) / 4);
            margin-bottom: map-get($grid-gutter-widths, md);
        }

    }

}

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}headline {

    .#{$pr}#{$widget}#{$c1}contents {
        max-width: map-get( $be-max-widths, 'md' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$be}-group.#{$pr}#{$be}-alignfull & {

        .#{$pr}#{$widget}#{$c1}contents {
            width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        }

    }

}


