/*
--------------------
.#{$pr}#{$widget}#{$c3}step
--------------------
*/

.#{$pr}#{$widget}.#{$pr}#{$widget}#{$c3}step {

    .#{$pr}#{$widget}#{$c1}contents {
        width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
        max-width: map-get( $be-max-widths, 'md' );
        margin-left: auto;
        margin-right: auto;
    }

    .#{$pr}#{$c}step {
        padding-top: 0;
        padding-bottom: 0;

        .#{$pr}#{$m}nav#{$c1}label {
            font-size: $font-size-sm;
        }

    }

    .#{$pr}#{$p}widgetarea#{$c3}main & {

        .#{$pr}#{$c}step {

            .#{$pr}#{$m}nav#{$c1}label {

                @include media-breakpoint-up(md) {
                    font-size: $font-size-md;
                }

            }

        }

    }

}

.#{$pr}#{$p}content#{$c3}2col .#{$pr}#{$p}widgetarea#{$c3}sub .#{$pr}#{$c}step {

    .#{$pr}#{$m}nav-vertical {

        .#{$pr}#{$m}nav#{$c1}label {

            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
            }

        }

    }

}
